header{
    margin: 1vw 0;
    border-radius: 0.5vw;
    padding: 2vw;
}

h1{
    font-size: 3vw;
}

table{
    margin-top: 3vw;
    font-size: 1.3vw;
}

.btn-excluir, .btn-editar{
    border: none;
    cursor: pointer;
}

.btn-excluir > img, .btn-alterar > img {
    width: 1.8vw;
    margin-left: 0.5vw;
}

.box-buttons{
    display: flex;
    justify-content: end;
}

.btn{
    margin-top: 1vw;
    font-size: 1.5vw;
    font-weight: bold;
}


