    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(img/hotel/bg-img/bg-7.jpg);">
        <div class="bradcumbContent">
            <h2>Notícias</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-0-100" style="margin-top: 100px">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="palatin-blog-posts">

                        <!-- ##### Single Blog Post ##### -->
                        <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                            <!-- Post Thumb -->
                            <div class="blog-post-thumb">
                                <img src="img/hotel/blog-img/1.jpg" alt="">
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <!-- Post Date-->
                                <a href="#" class="post-date btn palatin-btn">10 de Maio, 2023</a>
                                <!-- Post Title -->
                                <a href="#" class="post-title">Dicas para uma viagem perfeita</a>
                                <!-- Post Excerpt -->
                                <p>Defina antes os lugares que você quer visitar, quanto tempo ficar em cada atração, onde comer. Planejando esse tipo de coisa antecipadamente, fica mais fácil garantir que você terá tempo de visitar todos os lugares desejados. Depois de planejar a viagem inteira, chegou a hora de aproveitar! Curta cada momento , cada lugarzinho que você visitar. E, claro, tire muitas fotos para levar de recordação!</p>
                            </div>
                        </div>

                        <!-- ##### Single Blog Post ##### -->
                        <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Post Thumb -->
                            <div class="blog-post-thumb">
                                <img src="img/hotel/blog-img/2.jpg" alt="">
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <!-- Post Date-->
                                <a href="#" class="post-date btn palatin-btn">07 de Janeiro, 2023</a>
                                <!-- Post Title -->
                                <a href="#" class="post-title">Inauguração do nosso Bar da Piscina</a>
                                <!-- Post Excerpt -->
                                <p>Funciona das 10h às 18h. Para aproveitar um lindo dia de sol ou simplesmente relaxar. Seu dia de sol em local exclusivo, com cardápio variado, drinks e petiscos perfeitos para curtir a piscina com vista para o mar. O Bar da Piscina do nosso hotel é o local ideal para seu momento de lazer.</p>
                            </div>
                        </div>

                        <!-- ##### Single Blog Post ##### -->
                        <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="500ms">
                            <!-- Post Thumb -->
                            <div class="blog-post-thumb">
                                <img style="filter:brightness(0.9);" src="img/hotel/verao.jpg" alt="">
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <!-- Post Date-->
                                <a href="#" class="post-date btn palatin-btn">21 de Dezembro, 2022</a>
                                <!-- Post Title -->
                                <a href="#" class="post-title">Programação para o verão</a>
                                <!-- Post Excerpt -->
                                <p>Aproveite os meses de verão, para passar tardes e mais tardes nas lagoas dos Lençóis Maranhenses, apenas relaxando. Isso com certeza vai renovar suas energias. E, se passar uma tarde nas lagoas já é maravilhoso, imagine ficar o dia na piscina com a família! Se você quiser se movimentar mais (e as crianças sempre querem), basta levar algumas bolas e brinquedos que possam ser usados dentro da piscina. Não é necessário muito para proporcionar o lazer de todos. Só não se esqueça de se hidratar e proteger bem a pele contra os raios UV do sol!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->