    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(img/hotel/bg-img/bg-2.jpg);">
        <div class="bradcumbContent">
            <h2>Sobre nós</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="about-text mb-100">
                        <div class="section-heading">
                            <div class="line-"></div>
                            <h2>Ibis Maranhense</h2>
                        </div>
                        <p>Ibis é um resort situado na cidade de Atins, estado do Maranhão, em uma localização privilegiada dos lençóis maranhenses.

                            Nascemos a partir de um sonho de criar um ambiente totalmente voltado para o turismo local, com suas nuances e peculiaridades que você encontra somente nesta região.
                            
                            Por este motivo, temos como marca o pássaro Íbis. Um pássaro de plumagem avermelhada que habita a região onde se encontra o resort, e que no momento se encontra em estado de extinção.</p>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="about-thumbnail mb-100">
                        <img src="img/hotel/bg-img/2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Us Area End ##### -->

    <!-- ##### Milestones Area Start ##### -->
    <section class="our-milestones section-padding-100-0 bg-img bg-overlay bg-fixed" style="background-image: url(img/hotel/bg-img/bg-4.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="section-heading text-center white">
                        <div class="line-"></div>
                        <h2>Nossos marcos</h2>
                        <p>Possuimos apenas um estabelecimento comercial porem alcançamos um marco nacional no Brasil com nossos serviços de otima qualidade, com otimos atendimentos ao cliente e ambiente favoravel ao clima.Tambem possuimos certificação e avaliação 5 estrelas pela TripAdivisor e reconhecido pela ABIH(Associação Brasileira da Industria de Hotéis)</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <div class="scf-text">
                            <i class="icon-restaurant"></i>
                            <h2><span class="counter">5</span></h2>
                            <p>Restaurantes</p>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="scf-text">
                            <i class="icon-swimming-pool"></i>
                            <h2><span class="counter">3</span></h2>
                            <p>Piscinas</p>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100 wow fadeInUp" data-wow-delay="700ms">
                        <div class="scf-text">
                            <i class="icon-suitcase"></i>
                            <h2><span class="counter">80</span></h2>
                            <p>Quartos</p>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100 wow fadeInUp" data-wow-delay="900ms">
                        <div class="scf-text">
                            <i class="icon-resort"></i>
                            <h2><span class="counter">15</span></h2>
                            <p>Apartamentos</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Milestones Area End ##### -->

    <!-- ##### Hotels Area Start ##### -->
    <section class="our-hotels-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <div class="line-"></div>
                        <h2>Sobre o Hotel</h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Single Hotel Info -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-hotel-info mb-100">
                        <div class="hotel-info-text">
                            <h6><span class="fa fa-check"></span> Quartos espaçosos e com pelo menos 3 camas</h6>
                            <h6><span class="fa fa-check"></span> Mobilia rustica e confortavel</h6>
                            <h6><span class="fa fa-check"></span> Banheiras com hidromassagem</h6>
                        </div>
                        <div class="hotel-img">
                            <img style="height: 372px ;"src="img/hotel/bg-img/3.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!-- Single Hotel Info -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-hotel-info mb-100">
                        <div class="hotel-info-text">
                            <h6><span class="fa fa-check"></span> 2 Piscinas para adultos</h6>
                            <h6><span class="fa fa-check"></span> Bar na piscina</h6>
                            <h6><span class="fa fa-check"></span> 1 Piscina para crianças</h6>
                        </div>
                        <div class="hotel-img">
                            <img src="img/hotel/bg-img/10.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!-- Single Hotel Info -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-hotel-info mb-100">
                        <div class="hotel-info-text">
                            <h6><span class="fa fa-check"></span> Clima aberto e favoravel ao ambiente</h6>
                            <h6><span class="fa fa-check"></span> Praia proxima ao hotel</h6>
                            <h6><span class="fa fa-check"></span> Possibilidades variadas fora do hotel como trilha e Kitesurf</h6>
                        </div>
                        <div class="hotel-img">
                            <img style="height: 372px;" src="img/hotel/bg-img/11.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hotels Area End ##### -->

    <!-- ##### Testimonial Area Start ##### -->
    <section class="testimonial-area section-padding-100 bg-img" style="background-image: url(img/hotel/core-img/pattern.png);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="testimonial-content">
                        <div class="section-heading text-center">
                            <div class="line-"></div>
                            <h2>Oque os clientes dizem</h2>
                        </div>
                        
                        <!-- Testimonial Slides -->
                        <div class="testimonial-slides owl-carousel">
                            
                            <!-- Single Testimonial -->
                            <div class="single-testimonial">
                                <p>Um lugar relaxante e para toda familia, quartos confortaveis, otimo atendimento e boa conexão com a natureza</p>
                                <h6>Afonso da silva, <span>Cliente</span></h6>
                                <img src="img/hotel/core-img/trip.png" alt="">
                            </div>
                            
                            <!-- Single Testimonial -->
                            <div class="single-testimonial">
                                <p>Otimas piscinas, restaurantes com excelentes cardapios, quartos rústicos com camas confortaveis e valores acessíveis  </p>
                                <h6>Neuza Oliveira, <span>Cliente</span></h6>
                                <img src="img/hotel/core-img/trip.png" alt="">
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Testimonial Area End ##### -->
