<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/hotel/login.css">
</head>
<body>
    <section class="container">
        <header>
            <h1>Login</h1>
        </header>
        <section class="icon">
            <img src="/img/hotel/usuario-de-perfil.png" alt="Ícone usuário">
        </section>
        <form action="#" class="form">
            <div class="input-box">
                <label for="email-dig">E-mail</label>
                <input type="email" placeholder="Digite seu e-mail" id="email-dig" name="email-dig" required>
            </div>
            
            <div class="input-box">
                <label for="senha-dig">Senha</label>
                <input type="password" placeholder="Digite sua senha" id="senha-dig" name="senha-dig" required>
            </div>

            <button>Entrar</button>
        </form>

        <section class="create-acont">
            <p>Ainda não tem um conta? <a class="link-create-acont" href="/register">Cadastrar-se</a></p>
        </section>
    </section>
</body>
</html>