    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(img/hotel/bg-img/room_banner.jpg);">
         <div class="bradcumbContent">
            <h2>Acomodações</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Rooms Area Start ##### -->
    <section class="rooms-area section-padding-0-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="section-heading text-center">
                        <div class="line-"></div>
                        <h2>Nossas Acomodações</h2>
                        <p>Quartos com qualidade e conforto para qualquer ocasião. Família reunida, curtindo a lua de mel ou aproveitar a vida de solteiro. Para cada momento um local todo especial.</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Rooms Area -->
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="single-rooms-area wow fadeInUp" data-wow-delay="200ms">
                        <!-- Thumbnail -->
                        <div class="bg-thumbnail bg-img" style="background-image: url(img/hotel/bg-img/family.jpg);"></div>
                        <!-- Price -->
                        <h4 class="price-from" style="font-size: 1.2rem;">Quarto Para a Família</h4>
                        <!-- Rooms Text -->
                        <div class="rooms-text">
                            <div class="line"></div>
                            <!-- <h4>Quarto Deluxe</h4> -->
                            <p>Nossos quartos para toda a família são a escolha perfeita para você que deseja estar reunído com a sua família em todos os momentos.</p>
                            <!-- <span class="price-from" style="font-size: 0.5rem; position:initial;float: right; margin-right: -60px; margin-bottom: -20px;" title="Máximo 9 pessoas">Máximo 9 pessoas</span> -->
                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Máximo 12 pessoas por quarto" style="position:initial;float: right; margin-right: -10px; margin-bottom: -20px;">
                                <button class="btn btn-primary" style="pointer-events: none; font-size: 0.5rem; background-color: #000; border:none" type="button" disabled>Máximo 12 pessoas</button>
                            </span>
                            <!-- <p class="price-from" style="font-size: 0.5rem;">Máximo 9 pessoas</p> -->
                        </div>
                        <!-- Book Room -->
                        <a href="/booking#anchor" class="book-room-btn btn palatin-btn" style="scroll-behavior: smooth;">Ir para a Reserva</a>
                    </div>
                </div>

                <!-- Single Rooms Area -->
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="single-rooms-area wow fadeInUp" data-wow-delay="100ms">
                        <!-- Thumbnail -->
                        <div class="bg-thumbnail bg-img" style="background-image: url(img/hotel/bg-img/romantic.jpg);"></div>
                        <!-- Price -->
                        <p class="price-from" style="font-size: 1.2rem;">Quarto Para a Lua de Mel</p>
                        <!-- Rooms Text -->
                        <div class="rooms-text">
                            <div class="line"></div>
                            <!-- <h4>Lua de Mel</h4> -->
                            <p>Preparamos uma acomodação com todas os detalhes necessários para que a sua lua de mel seja completamente inesquecível.</p>
                        </div>
                        <!-- Book Room -->
                        <a href="/booking#anchor" class="book-room-btn btn palatin-btn">Ir para a Reserva</a>
                    </div>
                </div>

                <!-- Single Rooms Area -->
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="single-rooms-area wow fadeInUp" data-wow-delay="300ms"> -->
                        <!-- Thumbnail -->
                        <div class="bg-thumbnail bg-img" style="background-image: url(img/hotel/bg-img/single.jpg);"></div>
                        <!-- Price -->
                        <p class="price-from" style="font-size: 1.2rem;">Quarto Para os Solteiros</p>
                        <!-- Rooms Text -->
                        <div class="rooms-text">
                            <div class="line"></div>
                            <!-- <h4>Quarto Solteiro</h4> -->
                            <p>Um quarto para quem deseja passar um tempo a sós em um local encantador, mas com espaço suficiente para que se sentir confortável.</p>
                        </div>
                        <!-- Book Room -->
                        <a href="/booking#anchor" class="book-room-btn btn palatin-btn">Ir para a Reserva</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Rooms Area Start End ##### -->