    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(img/hotel/bg-img/bg-8.jpg);">
        <div class="bradcumbContent">
            <h2>Contatos</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <br>

    <!-- ##### Contact Area Start ##### -->
    <section class="contact-information-area">
        <div class="container">
            <div class="row">

                <!-- Single Contact Information -->
                <div class="col-12 col-lg-4">
                    <div class="single-contact-information mb-100">
                        <div class="section-text">
                            <h3>Atins</h3>
                            <p>Atins é uma vila do município de Barreirinhas, no estado do Maranhão, na região nordeste do Brasil. Se localiza na foz do rio Preguiças onde se encontra com o Oceano Atlântico.</p>
                        </div>
                        <!-- Single Contact Information -->
                        <div class="contact-content d-flex">
                            <p>Endereço</p>
                            <p>Rua Atins Maranhence <br>Attins Beach, 931</p>
                        </div>
                        <!-- Single Contact Information -->
                        <div class="contact-content d-flex">
                            <p>Telefone</p>
                            <p>+55 45 7953 4994</p>
                        </div>
                        <!-- Single Contact Information -->
                        <div class="contact-content d-flex">
                            <p>E-mail</p>
                            <p>hotel@gmail.com</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Contact Area End ##### -->

    <!-- ##### Contact Form Area Start ##### -->
    <section class="contact-form-area mb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <div class="line-"></div>
                        <h2>Entre em contato</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Contact Form -->
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="text" placeholder="Seu nome">
                            </div>
                            <div class="col-lg-4">
                                <input type="email" class="form-control" name="email" placeholder="E-mail">
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="subject" placeholder="Assunto">
                            </div>
                            <div class="col-12">
                                <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Mensagem"></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn palatin-btn mt-50">Enviar mensagem</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Contact Form Area End ##### -->

    <!-- ##### Google Maps ##### -->
    <div class="map-area mb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15943.220448459644!2d-42.75101808362016!3d-2.5700603838180682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7f1e8d46f26dfd5%3A0xa9ecc50041bc85a3!2sAtins%2C%20Barreirinhas%20-%20MA%2C%2065590-000!5e0!3m2!1spt-BR!2sbr!4v1678665565802!5m2!1spt-BR!2sbr" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>